#profileoutput {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem;
}

.header {
  display: flex;
  align-items: center;
  height: 3rem;
  width: 30rem;
}

#settings {
  margin-left: auto;
  font-size: 1.5rem;
}

#profileinput {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem;
}

#profilecard {
  margin-left: auto;
  font-size: 1.5rem;
}

.unrender {
  display: none !important;
}

#profilelinks {
  display: flex;
  flex-direction: column;
}

.linkentry {
  margin-bottom: 1rem;
}

#profilelinkadd {
  display: flex;
  border-radius: 15px;
  cursor: pointer;
  background-color: dodgerblue;
  padding: 1rem;
}

#profilename {
  margin-bottom: 1rem;
}

#profilesave {
  margin-top: 1rem;
  display: flex;
  cursor: pointer;
  border-radius: 15px;
  background-color: dodgerblue;
  padding: 1rem;
}

body {
  background-color: #1a1a1a;
  color: whitesmoke;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
